* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: #edefee;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 3rem 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  width: 250px;
  flex: 1;
}

nav {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

nav a {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
  color: #080202;
}

nav a:hover {
  background-color: #6e6f6e;
  box-shadow: 5px 0px 25px black;
  border-radius: 12px;
  transition: 1s;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

article {
  flex: 1;
  gap: 10px;
}

footer {
  display: flex;
  margin-top: 75px;
  flex-wrap: wrap;
}

footer div {
  flex: 1;
}

article .item1 {
  flex: 1;
  max-width: 50%;
  height: auto;
}

.item1 {
  max-width: 300px;
  margin-left: 20px;
}

article h1 {
  color: #f4ce14;
}

article h2 {
  color: #fff;
}

.top p {
  color: #fff;
}

.top {
  background-color: #6e6f6e;
}

article button {
  width: 200px;
  height: 60px;
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between menu items */
}

.menu-item {
  flex: 1;
  min-width: 300px; /* Set a minimum width for each menu item */
  max-width: 400px; /* Set a maximum width for each menu item */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.item-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.item-header {
  flex: 1;
  display: flex;
  margin-top: 10px;
  justify-content: space-between; /* Align h3 and h4 on the same line */
  align-items: baseline; /* Align h3 and h4 vertically */
}

.item-header h3 {
  margin: 0;
}

.item-header h4 {
  margin: 0;
  color: red; /* Set color to red */
}

.order-delivery {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.order-delivery img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .menu-container {
    justify-content: flex-start;
  }

  .menu-item {
    flex: 1 1 calc(50% - 20px);
  }
}

.item-price {
  color: red;
}

h3, h4 {
  margin: 10px 0;
}


.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #6e6f6e;
  padding: 20px;
  color: #fff;
}

.text-container {
  flex: 1;
  padding: 20px;
  max-width: 50%;
}

.image-stack {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.item3,
.item4 {
  width: 100%;
  height: auto;
}

.item4 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -25%;
}

.bottom p {
  color: #fff;
}

.Specials h2 {
  color: #080202;
}

.Specials {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-reviews {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  min-width: 200px;
  max-width: 200px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  margin-left: 10px;
}

.reviewer-image {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
}

.rating {
  max-width: 50%;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .section-reviews {
    justify-content: flex-start;
  }

  .card {
    flex: 1 1 calc(50% - 20px);
  }
}


.Testimonials h2 {
  text-align: center;
}

.Testimonials {
  margin-top: 50px;
}
